<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.rw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.SET_WALLPAPER" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="8w7jv4qb8whhy" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBTPXEZku1kucfIhpAhlVCGqsAusYh_oZc" />

        <activity android:name=".mvp.ui.activitys.MainActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".mvp.ui.activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activitys.work.ApprovementActivity" />
        <activity android:name=".mvp.ui.activitys.work.ApprovedByMeActivity" />
        <activity android:name=".mvp.ui.activitys.work.ProposeFromMeActivity" />
        <activity android:name=".mvp.ui.activitys.work.AskForLeaveActivity" />
        <activity android:name=".mvp.ui.activitys.work.GetOutActivity" />
        <activity android:name=".mvp.ui.activitys.work.WipedActivity" />
        <activity android:name=".mvp.ui.activitys.work.SignInActivity" />
        <activity android:name=".mvp.ui.activitys.work.SignListActivity" />
        <activity android:name=".mvp.ui.activitys.work.CardActivity" />
        <activity android:name=".mvp.ui.activitys.work.RollMeActivity" />
        <activity android:name=".mvp.ui.activitys.work.DailyLogActivity" />
        <activity
            android:name=".mvp.ui.activitys.work.SendRollActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activitys.work.WriteLogActivity" />
        <activity android:name=".mvp.ui.activitys.work.ExtraWorkActivity" />
        <activity android:name=".mvp.ui.activitys.mineme.SettingActivity" />
        <activity android:name=".mvp.ui.activitys.mineme.FeedBackActivity" />
        <activity android:name=".mvp.ui.activitys.mineme.ChangePassWord" />
        <activity android:name=".mvp.ui.activitys.mineme.PublishedActivity" />
        <activity android:name=".mvp.ui.activitys.mineme.OrderActivity" />
        <activity android:name=".mvp.ui.activitys.mineme.WalletActivity" />
        <activity android:name=".mvp.ui.activitys.social.CommListActivity" />
        <activity android:name=".mvp.ui.activitys.social.CommDetailActivity" />
        <activity android:name=".mvp.ui.activitys.social.FocusListActivity" />
        <activity android:name=".mvp.ui.activitys.social.OthersDetailActivity" />
        <activity android:name=".mvp.ui.activitys.social.CommPublishActivity" />
        <activity
            android:name=".mvp.ui.activitys.increment.MeetingAppointmentListActivity"
            android:label="@string/title_activity_meeting_appointment_list" />
        <activity android:name=".mvp.ui.activitys.increment.TempActivity" />
        <activity android:name=".mvp.ui.activitys.message.MessageMoreActivity" />
        <activity android:name=".mvp.ui.activitys.message.LandMarkNotice" />
        <activity android:name=".mvp.ui.activitys.message.LandMarkDetail" />
        <activity android:name=".mvp.ui.activitys.message.CompanyNoticeActivity" />
        <activity android:name=".mvp.ui.activitys.message.CompanyNoticeDetailActivity" />
        <activity android:name=".mvp.ui.activitys.message.ModifiRemarkActivity" />
        <activity android:name=".mvp.ui.activitys.message.FriendVerifiActivity" />
        <activity android:name=".mvp.ui.activitys.message.BusinessPhoneActivity" />
        <activity
            android:name=".mvp.ui.activitys.message.PreviewCallActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activitys.message.OriganizationActivity" />
        <activity android:name=".mvp.ui.activitys.message.MyTeamActivity" />
        <activity android:name=".mvp.ui.activitys.message.AddFriendIndex" />
        <activity android:name=".mvp.ui.activitys.message.MyFriendActivity" />
        <activity android:name=".mvp.ui.activitys.message.MyNewFriendActivity" />
        <activity android:name=".mvp.ui.activitys.message.GroupChatActivity" />
        <activity android:name=".mvp.ui.activitys.message.GroupChatSelectActivity" />
        <activity android:name=".mvp.ui.activitys.message.GroupChatNamedActivity" />
        <activity android:name=".mvp.ui.activitys.message.SendFriendVerifiAvtivity" />
        <activity android:name=".mvp.ui.activitys.message.MeetingSelectActivity" />
        <activity android:name=".mvp.ui.activitys.message.ContactsActivity" />
        <activity android:name=".mvp.ui.activitys.lock.LockMainActivity" />
        <activity android:name=".mvp.ui.activitys.lock.LockHelpActivity" />
        <activity android:name=".mvp.ui.activitys.lock.LockTempKeyActivity" />
        <activity android:name=".mvp.ui.activitys.message.SearchActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.home.rw.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <receiver
            android:name=".listener.RwNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>
        <activity android:name=".mvp.ui.activitys.rongCloud.ConversationActivity"
             >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.home.rw"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 会话列表 -->
        <activity
            android:name=".mvp.ui.activitys.rongCloud.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.home.rw"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
    </application>

</manifest>