<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.rw">

    <permission
        android:name="com.home.rw.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.SET_WALLPAPER" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="com.home.rw.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/rw_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="8w7jv4qb8whhy" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBTPXEZku1kucfIhpAhlVCGqsAusYh_oZc" />

        <service
            android:name="com.carduoblue.api.UartService"
            android:enabled="true"></service>

        <meta-data
            android:name="CARDUO_APPKEY"
            android:value="1DC0624385DC454597FC1BBDC462B6F1" />

        <activity
            android:name=".mvp.ui.activitys.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".mvp.ui.activitys.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activitys.work.ApprovementActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.work.ApprovedByMeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.work.ProposeFromMeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.work.AskForLeaveActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.work.GetOutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.work.WipedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.work.SignInActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.work.SignListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.work.CardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.work.RollMeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.work.DailyLogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.ui.activitys.work.SendRollActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activitys.work.WriteLogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.work.ExtraWorkActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.mineme.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.mineme.FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.mineme.ChangePassWord"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.mineme.PublishedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.mineme.OrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.mineme.WalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.social.CommListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.social.CommDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.social.FocusListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.social.OthersDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.social.CommPublishActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.ui.activitys.increment.MeetingAppointmentListActivity"
            android:label="@string/title_activity_meeting_appointment_list"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.increment.TempActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.MessageMoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.LandMarkNotice"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.LandMarkDetail"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.CompanyNoticeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.CompanyNoticeDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.ModifiRemarkActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.FriendVerifiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.BusinessPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.ui.activitys.message.PreviewCallActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activitys.message.OriganizationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.MyTeamActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.AddFriendIndex"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.MyFriendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.MyNewFriendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.GroupChatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.GroupChatSelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.GroupChatNamedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.SendFriendVerifiAvtivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.MeetingSelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.ContactsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.lock.LockMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.lock.LockHelpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.lock.LockTempKeyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activitys.message.SearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.home.rw.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <receiver
            android:name=".listener.RwNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <activity android:name=".mvp.ui.activitys.rongCloud.ConversationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.home.rw"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 会话列表 -->
        <activity
            android:name=".mvp.ui.activitys.rongCloud.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.home.rw"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activitys.WebViewActivity" />
        <!-- GCM 配置 < -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.home.rw" />
                <!-- 替换为自己的packagename < -->
            </intent-filter>
        </receiver>

        <service
            android:name="io.rong.push.platform.RongGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="io.rong.push.platform.RongGCMInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- GCM 配置结束 < -->

    </application>

</manifest>